/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

section[id],
footer[id] {
  scroll-margin-top: 4rem;
}
